target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# 忽略该文件
UserService/src/main/resources/application-dev.yml
Gateway/src/main/resources/application-dev.yml
UserService/src/main/resources/ipdb/IP2LOCATION-LITE-DB3.BIN
WebRtcService/src/main/resources/application-dev.yml
CommunityService/src/main/resources/application-dev.yml
Gateway/src/main/resources/application-prod.yml
CommunityService/src/main/resources/application-prod.yml
UserService/src/main/resources/application-prod.yml
WebRtcService/src/main/resources/application-prod.yml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store